DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/postgres?sslmode=require"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"
INITIAL_ADMIN_EMAIL="admin@almacen.com"
INITIAL_ADMIN_PASSWORD="use-a-unique-password-with-12-or-more-characters"
